*.png
__pycache__
PPMCoil.pdf
signalsfromsubatomicworld.pdf
digikey*order.csv
DataSheets/
*-backups/
*.log
.history/
magnum1/
debug/*
!debug/*.md
Software/RPiPythonCode/data/
Software/RPiPythonCode/old_data/
Software/RPiPythonCode/ppm.ini
